.btn-cadastro{
	text-decoration: none;
	cursor: pointer;
	width: 20%;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #0080ff;
	FONT-SIZE: 15pt;
	font-family: "arial";
	opacity: 0.85;
	transition: border-color 0.2s;
}

.btn-cadastro:hover{
	color: white;
	FONT-SIZE: 30;
	opacity: 1;
	border-color: #999;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-weight:bold;
	font-family: "arial";
}

button{
	height: 30px;
    width: 130px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
    background-color: #0080ff;
    color: white;
    cursor: pointer;
    font-size: 15pt;
    font-family: "arial";
}

button:hover{
	border-color: #999;
}