@CHARSET "ISO-8859-1";
a {
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-family: "arial";
}

.menuItem {
	margin: 10%;
	padding: 10px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	background-color: #B22222;
	FONT-SIZE: 25;
	font-family: "arial";
	opacity: 0.85;
}

.menuItem:hover {
	color: white;
	FONT-SIZE: 30;
	opacity: 1;
}

#paciente {
	position: absolute;
	left: 0%;
	width: 50%;
}

#familiar {
	position: absolute;
	left: 50%;
	width: 50%
}